:root {
  --primary: #C11E3D;
  --secondary: #F3607C;
  --dark: #000000;
  --dark-50: rgba(0, 0, 0, 0.5);
  --text-gray: #4D4D4D;
  --light-gray: #E3E3E3;
  --off-white: #e9e9e9;
  --link: --secondary;

  --h1-font-size: 6rem;
  --h2-font-size: 4.5rem;
  --h3-font-size: 3rem;

  --p-font-size: 1.125rem;
}